<div class="container">
<h1> Мой дневник </h1>

<div class="modal-body">
  <p>
    <label>Название</label><br>
    <input [(ngModel)]="name" />
</p>
<p>
    <label>Название</label><br>
    <input [(ngModel)]="description" />
</p>
<button class="btn btn-primary" (click)="addItem(name , description)">Добавить</button>
</div>

  <div class="container">
  <div class="card mt-4" *ngFor="let x of items; let index = index;">
  <div class="card-header" style="height: 55px;">
      Сегодняшняя дата
      <button class="btn btn-danger" style="position: absolute; right: 3rem;" (click)="remove(index)">Удалить</button>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{x.name}}</p>
      <footer class="blockquote-footer">{{x.description}}</footer>
    </blockquote>
  </div>
</div>
</div>
</div>
